.buttonPanel {
    display: flex;
    flex-direction: column;

    .buttonPanelItem {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .topButton {
        border-bottom: 1px solid #E0E0E0;
    }

    .bottomButton {
        border-top: 1px solid #E0E0E0;
    }
}